.comm-form-pic {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 0 10px 0 15px;
}

.comment-form-wide {
    display: flex;
    height: 60px;
    align-items: center;
    font-family: 'Fira Sans', sans-serif;

}

.comm-form-text {
    width: 430px;
    height: 40px;
    border: 1px solid gray;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 40px;
    padding: 1px 0 0 17px;
    font-size: 16px;
    letter-spacing: .5px;
    &::placeholder{
        font-size: 14px;
        letter-spacing: .5px;
    }
}

.comment-list-wide {
    font-family: 'Fira Sans', sans-serif;
}

.comment-wide {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.comm-pic {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    cursor: pointer;
}

.comm-user-pic {
    margin-right: 10px;
}

.comment-body {
    display: flex;
    background-color: rgba(133, 130, 130, 0.151);
    padding: 10px 28px 10px 10px;
    border-radius: 40px;
    max-width: 380px;
    
}

.comment-body span {
    color:rgb(47, 47, 241);
    font-size: 14;
    text-transform: capitalize;
    cursor: pointer;
    padding-right: 15px;
    font-family: 'Fira Sans', sans-serif;

    &:hover{
        text-decoration: underline;
    }
}

.comment-body p {
    font-size: 14px;
    letter-spacing: .5px;
    font-family: 'Fira Sans', sans-serif;
    padding-top: 2px;
    word-wrap: break-word; 
    max-width: 350px;
}

.fa-ellipsis-h {
    font-size: 12px;
    position: relative;
    right: -12px;
    color: gray;
    opacity: 0;
    &:hover {
        cursor: pointer;
        opacity: .9;
    }
}

.comment-actions {
    background-color: rgb(241, 236, 236);
    height: 35px;
    width: 97px;
    position: absolute;
    font-size: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 18px;
    left: -1px;
}

.comment-actions:after {
    content: " ";
    position: absolute;
    left: 0;
    top: -10px;
    border-top: none;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid rgb(241, 236, 236);
    z-index: 2;
}

.comment-actions p {
    font-size: 9px;
    padding: 4px 6px;
    color: black;
    &:hover {
        background-color: rgb(255, 255, 255);
        opacity: unset;
    }
}