#root {
    width: 100vw;
    height: 100vw;
}

.news-feed-main {
    width: 100%;
    height: 100%;
    position: relative;
    top: 46px;
}

.post-form-wide {
    height: 155px;
    width: 530px;
    line-height: 16px;
    font-size: 12px;
    background-color: rgb(236, 222, 222);    
}

.form-body {
    height: 90px;
    width: 530px;
}

.post-prof-img {
    display: inline-block;
    height: 80px;
    width: 50px;
}

.text-a-post {
    resize: none;
    width: 450px;
    height: 80px;
    background-color: rgb(236, 222, 222);
    border: none;
    border-bottom: 2px grey solid;
    color: white;
}

