#root {
    width: 100vw;
    height: 100vw;
}

.news-feed-main {
    width: 100%;
    height: 100%;
    position: relative;
    top: calc(100% - 45px);
}

.post-form-wide {
    height: 155px;
    width: 530px;
    line-height: 16px;
    font-size: 12px;
    
}

