#root {
    width: 100vw;
    height: 100vw;
}

input[type="text"], input[type="password"], textarea, select { 
    outline: none;
}

.news-feed-main {
    width: 100%;
    height: 100%;
    position: relative;
    top: 46px;
    display: flex;
    justify-content: right;
}

.post-form-wide {
    height: 155px;
    width: 530px;
    line-height: 16px;
    font-size: 12px;
    background-color: rgb(236, 222, 222);    
}

input[type="submit"]:hover {
    cursor: pointer;
}

.form-body {
    height: 90px;
    width: 530px;
}

.post-prof-img {
    display: inline-block;
    height: 80px;
    width: 50px;
}

.text-a-post {
    resize: none;
    width: 450px;
    height: 80px;
    background-color: rgb(236, 222, 222);
    border: none;
    border-bottom: 2px grey solid;
}

.post-delete-button {
    display: inline-block;
}

.post-delete-button button {
    background-color: white;
    width: 15px;
    height: 15px;
    
}

.post-delete-button:hover button {
    cursor: pointer;
}

.feed-side-main {
    display: flex;
    // position: relative;
    // left: 200px;
    width: 200px;
    height: 400px;
    background-color: rgb(236, 222, 222);
    margin-right: 25px;
}

.scroll-feeds {
    display: flex;
    flex-direction: column;
}