input::-webkit-calendar-picker-indicator{
    display: none;
}

input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

::-webkit-input-placeholder {
  
  font-size: 18px;
}

.tagline {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    letter-spacing: 1px;
    position: absolute;
    top: 4%;
    right: 3%;
    font-size: 32px;
}

.signup-max {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100vw;
    height: 90%;
}

.signup-info {
    position: relative;
    right: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup-info > h2 {
    font-size: 42px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    letter-spacing: 1px;
}



.signup-info  * {
    margin: 10px;
    
}

.signup-info form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.left-side {
    display: block;
    position: relative;
    left: 0;
    box-sizing: border-box;
    width: 50%;
}
.left-side h2 {
    font-size: 50px;
    color: white;
    margin-bottom: 15px;
}

strong {
    font-weight: bold;
}

.hook {
    color: white;
    font-size: 24px;
    position: relative;
    bottom: 5%;

}

.pw-input-box {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
}

.email-input-box {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
}

.fn-input-box {
    width: 188px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
}

.ln-input-box {
    width: 188px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
}

.bday-box {
    width: 200px;
    height: 40px;
    border: 1px solid black;
}

.bday-text {
    font-size: 24px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
}

.signup-info h2 {
    font-size: 36px;

}

.signup-info > p {
    font-size: 19px;
}

.gender-buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.gender-buttons > h4, p {
    font-size: 20px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
}

input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
    color: black;
}

.signup-max input[type="text"], input[type="password"]  {
    font-size:25px;
}


 input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
}

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #ffa500;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
}