input::-webkit-calendar-picker-indicator{
    display: none;
}

input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

::-webkit-input-placeholder {
  
  font-size: 18px;
}

.tagline {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    letter-spacing: 1px;
    position: absolute;
    top: 4%;
    right: 3%;
    font-size: 32px;
}

.signup-max {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100vw;
    height: 90%;
}

.signup-info {
    position: relative;
    right: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.signup-info  * {
    margin: 10px;
    
}

.signup-info form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.left-side {
    display: block;
    position: relative;
    left: 0;
    box-sizing: border-box;
    width: 50%;
}
.left-side h2 {
    font-size: 50px;
    color: white;
    margin-bottom: 15px;
}

strong {
    font-weight: bold;
}

.hook {
    color: white;
    font-size: 24px;
    position: relative;
    bottom: 5%;
}

.pw-input-box {
    width: 400px;
    height: 40px;
    border-radius: 5px;
}

.email-input-box {
    width: 400px;
    height: 40px;
    border-radius: 5px;

}

.fn-input-box {
    width: 188px;
    height: 40px;
    border-radius: 5px;
}

.ln-input-box {
    width: 188px;
    height: 40px;
    border-radius: 5px;
}

.bday-box {
    width: 200px;
    height: 40px;
}

.bday-text {
    font-size: 28px
}

.signup-info h2 {
    font-size: 36px;

}

.signup-info > p {
    font-size: 19px;
}

.gender-buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}